#exclude everything form build folder 
build/*
GTZAN/*

# keep .gitkeep in build folder so that the folder can be kept
!build/.gitkeep
!GTZAN/README.md

# keep out vscode
.vscode/

# exclude everything in OutputText folder
OutputText/*

# keep .gitkeep in OutputText folder
!OutputText/.gitkeep

# files to block from notebooks 
SimplePitchDetectionAudioOut.wav

# pytorch models
*.pth

# data sets
AudioMNIST/
dev_set_android_files/
input/
raw_voice_files/
trimmed_voice_files/

# csv files
*.csv